@font-face {
  font-family: silkscreen;
  src: url(./assets/slkscr.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: silkscreen, "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #1b1725;
}

/* clean link styling */
a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

/* main page styling */
.title h1 {
  color: #d0bcd5;
  font-size: 48px;
  margin: 20px 0px 0px 20px;
  text-shadow: 2px 2px black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.game1-picture {
  background-image: url(./images/mafia.jpg);
  background-size: 500px 650px;
  opacity: 1;
  height: 100%;
}

.card {
  width: 500px;
  height: 650px;
  background-color: #d0bcd5;
  margin: 50px 20px 0px 20px;
  text-align: center;
  animation: diagonalMove 500ms ease-in;
}

.card-content {
  position: relative;
  color: white;
  bottom: 300px;
  display: none;
}

.card-content.game1 {
  bottom: 350px;
}

.card h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}

.card:hover {
  background-color: #d0bcd5;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 24px 24px 1px #ffff66, 48px 48px 1px #5c00e6;
  transition: all 400ms ease-in;
}

.card:hover > .game1-picture {
  opacity: 0.3;
}

.card:hover > .card-content {
  color: #1b1725;
  display: initial;
}

/* template styling */
.home-link {
  width: 150px;
  height: 50px;
  font-size: 32px;
  background-color: #534b62;
  text-decoration: none;
  color: #d0bcd5;
  border-radius: 0 0 10px 0;
}

.home-link:hover {
  transform: translateX(12px) translateY(5px) scale(1.15);

  transition: all 100ms;
}

.blog-title h1 {
  text-align: center;
  color: #d0bcd5;
  position: relative;
  top: 5px;
  font-size: 64px;
  animation: topMove 1s ease-in;
}

.main-display {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45%;
  height: 100vh;
}

.section {
  width: 90%;
  height: 40vh;
  background-color: #534b62;
  margin: 25px 25px 25px 25px;
  box-shadow: 8px 8px 2px #a499b3;
  position: relative;
  overflow: scroll;
}
.section.left {
  animation: leftMove 1s ease-in;
}
.section.right {
  animation: rightMove 1s ease-in;
}

.header {
  position: absolute;
  background: transparent;
  font-size: 48px;
  color: #d0bcd5;
  top: 5px;
  left: 10px;
  text-shadow: 5px 5px 2px black;
}

.desc {
  position: absolute;
  top: 80px;
  margin: 20px 20px 20px 20px;
  background: transparent;
  font-size: 20px;
  text-shadow: 2px 2px black;
  color: #d0bcd5;
}

/* keyframe animations for index */
@keyframes diagonalMove {
  from {
    transform: translate3d(1000px, 1000px, 0px);
  }
  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

/* keyframe animations for blog */
@keyframes topMove {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@keyframes leftMove {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}
@keyframes rightMove {
  from {
    right: -1000px;
  }
  to {
    right: 0px;
  }
}
